<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-md-12 d-flex align-items-center">
                        <h1 class="content-header-title float-left mb-0">
                            <a routerLink="/user/list" class="mr-1"><i data-feather="arrow-left" class="font-medium-5"></i></a> User Audit history
                        </h1>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12 mb-2">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="btn-group">
                            <div ngbDropdown style="width:200px">
                                <button ngbDropdownToggle class="btn btn-outline-primary" type="button" id="dropdownMenuButton" rippleEffect>
                                Actions <i data-feather="chevron-down" class="ml-2"></i>
                              </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                    <a ngbDropdownItem href="javascript:void(0)"><i data-feather="printer" class="mr-50"></i>Print Document</a>
                                    <a ngbDropdownItem href="javascript:void(0)"><i data-feather="file-text" class="mr-50"></i>Export to CSV</a>
                                    <a ngbDropdownItem href="javascript:void(0)"><i data-feather="file-text" class="mr-50"></i>Export to PDF</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-body p-1 p-xl-3">
                <div class="row">
                    <div class="col-md-10 col-xl-6">
                        <div class="form-group row">
                            <div class="col-md-6 col-6" style="border-bottom: 1px solid #ebe9f1;">
                                <div class="d-flex align-items-center">
                                    <div class="text-center bg-success colors-container rounded text-white width-100  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow" style="height:70px">
                                        <span>Login</span>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-0">Aug 26,2022</p>
                                        <p class="text-muted font-small-2 mb-0">A hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 mt-1">
                                <div class="d-flex align-items-center mt-1">
                                    <div class=" mr-1 ml-0">
                                        <div class=""><i data-feather="users"></i></div>
                                    </div>
                                    <div class="cell-line-height">
                                        <a class="font-medium-1 d-block" routerLink="/user/detail/1">
                                            <span class="font-weight-bold">Mark Carson</span>
                                        </a>
                                        <span class="text-muted font-small-2">Administrator</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-6" style="border-bottom: 1px solid #ebe9f1;">
                                <div class="d-flex align-items-center">
                                    <div class="text-center bg-warning colors-container rounded text-white width-100  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow" style="height:70px">
                                        <span>Change Password</span>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-0">Aug 26,2022</p>
                                        <p class="text-muted font-small-2 mb-0">A hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 mt-1">
                                <div class="d-flex align-items-center mt-1">
                                    <div class=" mr-1 ml-0">
                                        <div class=""><i data-feather="users"></i></div>
                                    </div>
                                    <div class="cell-line-height">
                                        <a class="font-medium-1 d-block" routerLink="/user/detail/1">
                                            <span class="font-weight-bold">Mark Carson</span>
                                        </a>
                                        <span class="text-muted font-small-2">Administrator</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-6" style="border-bottom: 1px solid #ebe9f1;">
                                <div class="d-flex align-items-center">
                                    <div class="text-center bg-success colors-container rounded text-white width-100  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow" style="height:70px">
                                        <span>Login</span>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-0">Aug 26,2022</p>
                                        <p class="text-muted font-small-2 mb-0">A hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 mt-1">
                                <div class="d-flex align-items-center mt-1">
                                    <div class=" mr-1 ml-0">
                                        <div class=""><i data-feather="users"></i></div>
                                    </div>
                                    <div class="cell-line-height">
                                        <a class="font-medium-1 d-block" routerLink="/user/detail/1">
                                            <span class="font-weight-bold">Mark Carson</span>
                                        </a>
                                        <span class="text-muted font-small-2">Administrator</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-6" style="border-bottom: 1px solid #ebe9f1;">
                                <div class="d-flex align-items-center">
                                    <div class="text-center bg-warning colors-container rounded text-white width-100  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow" style="height:70px">
                                        <span>Change Password</span>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-0">Aug 26,2022</p>
                                        <p class="text-muted font-small-2 mb-0">A hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 mt-1">
                                <div class="d-flex align-items-center mt-1">
                                    <div class=" mr-1 ml-0">
                                        <div class=""><i data-feather="users"></i></div>
                                    </div>
                                    <div class="cell-line-height">
                                        <a class="font-medium-1 d-block" routerLink="/user/detail/1">
                                            <span class="font-weight-bold">Mark Carson</span>
                                        </a>
                                        <span class="text-muted font-small-2">Administrator</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-6" style="border-bottom: 1px solid #ebe9f1;">
                                <div class="d-flex align-items-center">
                                    <div class="text-center bg-success colors-container rounded text-white width-100  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow" style="height:70px">
                                        <span>Login</span>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-0">Aug 26,2022</p>
                                        <p class="text-muted font-small-2 mb-0">A hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 mt-1">
                                <div class="d-flex align-items-center mt-1">
                                    <div class=" mr-1 ml-0">
                                        <div class=""><i data-feather="users"></i></div>
                                    </div>
                                    <div class="cell-line-height">
                                        <a class="font-medium-1 d-block" routerLink="/user/detail/1">
                                            <span class="font-weight-bold">Mark Carson</span>
                                        </a>
                                        <span class="text-muted font-small-2">Administrator</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-md-6 col-6" style="border-bottom: 1px solid #ebe9f1;">
                                <div class="d-flex align-items-center">
                                    <div class="text-center bg-warning colors-container rounded text-white width-100  d-flex align-items-center justify-content-center mr-1 ml-50 my-1 shadow" style="height:70px">
                                        <span>Change Password</span>
                                    </div>
                                    <div>
                                        <p class="font-weight-bold mb-0">Aug 26,2022</p>
                                        <p class="text-muted font-small-2 mb-0">A hours Ago</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6 col-6 mt-1 ">
                                <div class="d-flex align-items-center mt-1">
                                    <div class=" mr-1 ml-0">
                                        <div class=""><i data-feather="users"></i></div>
                                    </div>
                                    <div class="cell-line-height">
                                        <a class="font-medium-1 d-block" routerLink="/user/detail/1">
                                            <span class="font-weight-bold">Mark Carson</span>
                                        </a>
                                        <span class="text-muted font-small-2">Administrator</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>