<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-md-12 d-flex align-items-center">
                        <h1 class="content-header-title float-left mb-0">
                            <a routerLink="/user/list" class="mr-1"><i data-feather="arrow-left"
                                    class=" font-medium-5"></i> </a>Add User
                        </h1>
                    </div>
                    <!-- <div *ngIf="message">{{ simpleAlert() }} </div> -->
                </div>
            </div>

        </div>

        <!-- Kitchen Sink Datatables -->
        <div class="card">
            <div class="card-body p-2 p-xl-3">
                <form class="form" #r="ngForm" (ngSubmit)="Save(r)">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">First Name<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <input required ngModel name="firstName" #First="ngModel" type="text" id="First"
                                        type="text" id="colFormLabel" placeholder="Enter First Name"
                                        class="form-control" (keypress)="keyPressAlphaNumericWithCharacters($event)">
                                    <span class="help-block text-danger" *ngIf="First.touched && First.invalid">
                                        First Name is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Last Name<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <input required ngModel name="lastName" #Last="ngModel" type="text" id="Last"
                                        placeholder="Enter Last Name" class="form-control"
                                        (keypress)="keyPressAlphaNumericWithCharacters($event)">
                                    <span class="help-block text-danger" *ngIf="Last.touched && Last.invalid">
                                        Last Name is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Email<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <input required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" ngModel
                                        name="emailAddress" id="colFormLabel" #colFormLabel="ngModel" type="email"
                                        id="colFormLabel" placeholder="Enter Email Address" class="form-control"
                                        #userEmail="ngModel" (keyup)="getEmail($event.target.value)">
                                    <span class="help-block text-danger">{{checkAssetId}}</span>
                                    <span class="help-block text-danger"
                                        *ngIf="colFormLabel.touched && colFormLabel.invalid">
                                        <span *ngIf="colFormLabel.errors.required">Email is required</span>
                                    </span>
                                    <div *ngIf="userEmail.errors">

                                        <div class="text-danger" *ngIf="userEmail.errors.pattern">
                                            Please enter valid email address.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Password<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <input type="password" required ngModel name="password" id="colFormLabel"
                                        #pass="ngModel" placeholder="Enter Password" class="form-control" minlength="3"
                                        maxlength="12" #userPassword="ngModel">
                                    <span class="help-block text-danger"
                                        *ngIf="pass.touched && pass.invalid && pass.errors.required">
                                        Password is required
                                    </span>
                                    <div *ngIf="userPassword.errors">
                                        <div class="text-danger" *ngIf="userPassword.errors.minlength">
                                            Please enter 3 or more characters for password.
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="form-group row mb-2">
                            <label class="col-md-3 col-form-label" for="">LastLogin Date</label>
                            <div class="col-sm-9">
                                <input type="date" id="colFormLabel" class="form-control" [(ngModel)]="model.LastLoginDate">
                            </div>
                        </div> -->
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Department<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <select required ngModel name="departmentId" id="Department" #Department="ngModel"
                                        class="form-control">
                                        <option value="">Select Department</option>
                                        <option *ngFor="let web of deparmentsList">
                                            {{web.text}}</option>
                                    </select>
                                    <span class="help-block text-danger"
                                        *ngIf="Department.touched && Department.invalid">
                                        Department is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Role<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <select required ngModel name="roleId" id="Category" #Category="ngModel"
                                        class="form-control">
                                        <option value="">Select Role</option>
                                        <option *ngFor="let web of rolesList">{{web.text}}
                                    </select>
                                    <span class="help-block text-danger" *ngIf="Category.touched && Category.invalid">
                                        Role is required
                                    </span>
                                </div>
                            </div>
                            <!-- <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">User Location<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <select required ngModel name="country" id="country" #country="ngModel"
                                        class="form-control">
                                        <option value="">Select Location</option>
                                        <option *ngFor="let web of locationList">{{web.text}}
                                        </option>
                                    </select>
                                    <span class="help-block text-danger" *ngIf="country.touched && country.invalid">
                                        User Location is required
                                    </span>
                                </div>
                            </div> -->
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">MFA</label>
                                <div class="col-sm-9">
                                    <input type="checkbox" ngModel name="employeeType" id="employeeType"
                                        #employeeType="ngModel">
                                </div>
                            </div>
                            <!-- <div class="form-group row mb-2">
                            <label for="drap-picture" class="" style="width:100%">
                                <div class="card" style="border: 1px dashed #d8d6de;">
                                    <div class="card-body text-center">
                                        <img src="assets/images/icon/upload.png" alt="">
                                        <p class="mt-50 mb-0">Drag or Upload Customer Image here</p>
                                    </div>
                                </div>
                                <input ngModel #picture="ngModel" type="file" id="drap-picture" name="userImage"
                                    accept="image/png, image/jpeg, image/jpg" class="form-control"
                                   >
                            </label>
                        </div> -->
                            <!-- <div class="form-group row mb-2">
                            <label class="col-md-3 col-form-label" for="">Comments</label>
                            <div class="col-sm-9">
                                <textarea name="comments" ngModel id="" cols="30" rows="4" class="form-control"></textarea>
                            </div>
                        </div> -->

                            <div class="form-group mt-2 mb-0">
                                <button type="button" rippleeffect="" routerLink="/user/list"
                                    class="mr-1 btn btn-outline-secondary round waves-effect"
                                    style="width:120px">Cancel</button>
                                <button type="submit" [disabled]="!r.valid || emailExists" rippleeffect=""
                                    class="btn btn-primary round waves-effect" style="width:120px"
                                    id="btnSave">Add</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>