#dropdownMenuButton {
    width: 190px;
    border-radius: 20px;
    margin-right: 15px;
}

@import '@core/scss/angular/libs/flatpickr.component.scss';

.dark-layout input.form-control,
.dark-layout textarea.form-control {
    background-color: #283046 !important;
    color: #b4b7bd;
}

.form-control {
    background-color: #fff !important;
}

.assetpic {
    border-radius: 15px;
    width: 100%;
    padding: 5px;
    min-height: 100px;
}
.req-red{
    color: red;
    font-weight: bold;
    font-size: 17px;
}