<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-md-12 d-flex align-items-center">
                        <h1 class="content-header-title float-left mb-0">
                            Stock History
                        </h1>
                        <div class="breadcrumb-wrapper d-flex ">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item ng-star-inserted">
                                    <span class="text-primary font-weight-bolder">Car Jack
                                        &nbsp;&nbsp;</span><span>|</span>
                                </li>
                                <li class="breadcrumb-item ng-star-inserted">
                                    <span class="text-primary font-weight-bolder">Asset ID 001
                                        &nbsp;&nbsp;</span><span>|</span>
                                </li>
                                <li class="breadcrumb-item ">
                                    <img src="assets/images/1.png" alt="" style="height:32px" class="img-responsive">
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12 mb-2">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <button type="button" data-toggle="modal" data-target="#send-invoice-sidebar"
                            (click)="toggleSidebar('stock-filter')" rippleeffect=""
                            class="btn btn-outline-primary round waves-effect">Apply Filter <i
                                data-feather="chevron-right" class="ml-2"></i></button>
                        <button type="button" rippleeffect=""
                            class="ml-50 btn btn-outline-secondary round waves-effect disable-field">Import CSV</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Kitchen Sink Datatables -->
        <section id="ngx-datatable-kitchen-sink">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="d-flex justify-content-between align-items-center m-1">
                                <label class="d-flex align-items-center">Show
                                    <select class="form-control mx-25" [(ngModel)]="basicSelectedOption"
                                        style="width: 80px;">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    Entries</label>
                            </div>
                        </div>
                        <div class="col-md-6 col-12 d-flex justify-content-md-end">
                            <div class="d-flex align-items-center justify-content-end pr-1 pb-1 pl-1 pl-md-0 pb-md-0">
                                <label class="d-flex align-items-center"><input type="search" placeholder="Search..."
                                        class="form-control ml-25" (keyup)="filterUpdate($event)"
                                        (search)="filterUpdate($event)" /></label>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-1">
                        <div class="col-md-12 text-right">
                            <div class="btn-group">
                                <div ngbDropdown style="width:200px">
                                    <button ngbDropdownToggle class="btn btn-outline-primary" type="button"
                                        id="dropdownMenuButton" rippleEffect>
                                        Actions
                                    </button>
                                    <div ngbDropdownMenu aria-labelledby="dropdownMenuButton">
                                        <a ngbDropdownItem href="javascript:void(0)"><i data-feather="printer"
                                                class="mr-50"></i>Print Document</a>
                                        <a ngbDropdownItem href="javascript:void(0)"><i data-feather="file-text"
                                                class="mr-50"></i>Export to CSV</a>
                                        <a ngbDropdownItem href="javascript:void(0)"><i data-feather="file-text"
                                                class="mr-50"></i>Export to PDF</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ngx-datatable [rows]="kitchenSinkRows" [rowHeight]="50"
                        class="bootstrap core-bootstrap custom_datatable img_datatable" [limit]="10"
                        [columnMode]="ColumnMode.force" [headerHeight]="40" [footerHeight]="50" [scrollbarH]="true"
                        [limit]="basicSelectedOption">

                        <ngx-datatable-column name="ID" prop="id" [width]="40"></ngx-datatable-column>
                        <ngx-datatable-column name="Date" prop="date" [width]="100"></ngx-datatable-column>
                        <ngx-datatable-column name="Transaction" prop="transaction"
                            [width]="120"></ngx-datatable-column>
                        <ngx-datatable-column name="Quantity" prop="quantity" [width]="100"></ngx-datatable-column>
                        <ngx-datatable-column name="Transaction by" prop="transaction_by"
                            [width]="100"></ngx-datatable-column>
                        <ngx-datatable-column name="Signature" prop="sign_img" [width]="120">
                            <ng-template let-sign_img="value" ngx-datatable-cell-template>
                                <div class="text-center">
                                    <img src="{{ sign_img }}" (click)="modalOpenXs(modalxs, sign_img)" alt=""
                                        style="height:32px" class="image-responsive cursor-pointer">
                                </div>
                            </ng-template>
                        </ngx-datatable-column>
                    </ngx-datatable>
                </div>
            </div>
        </section>
    </div>
    <core-sidebar class="modal modal-slide-in sidebar-todo-modal fade" name="stock-filter" overlayClass="modal-backdrop"
        hideOnEsc="true">
        <app-stock-filter></app-stock-filter>
    </core-sidebar>
    <ng-template #modalxs let-modal>
        <div class="modal-body  bg-transparent p-0" tabindex="0" ngbAutofocus>
            <di class="row">
                <div class="col-md-12">
                    <img [src]="url" alt="" width="100%" style="border-radius: 10px;">
                </div>
            </di>
        </div>
    </ng-template>
</div>