<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <!-- content-header component -->
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-md-12 d-flex align-items-center" *ngIf="role=='admin'||role=='supervisor'||role=='shop attendant'">
                        <h1 class="content-header-title float-left mb-0">
                            <a routerLink="/location/list" class="mr-1"><i data-feather="arrow-left"
                                    class="font-medium-5"></i></a> Add Location
                        </h1>
                    </div>
                    <div *ngIf="message">{{ simpleAlert() }} </div>
                </div>
            </div>
        </div>
        <!-- Kitchen Sink Datatables -->
        <div class="card">
            <div class="card-body p-2 p-xl-3">
                <form class="form" #r="ngForm" (ngSubmit)="Save(r)">
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Department Name<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <input ngModel name="departmentName" required #colFormLabel="ngModel" type="text"
                                        id="colFormLabel" placeholder="Enter Company Name" class="form-control">
                                    <span class="help-block text-danger"
                                        *ngIf="colFormLabel.touched && colFormLabel.invalid">
                                        Department Name is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Asset Location<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <input ngModel name="location" required #Location="ngModel" type="text"
                                        id="Location" placeholder="Enter Address" class="form-control">
                                    <span class="help-block text-danger" *ngIf="Location.touched && Location.invalid">
                                        Location is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group row mb-2">
                                <label class="col-md-3 col-form-label" for="">Status<span
                                        class="req-red strong">*</span></label>
                                <div class="col-sm-9">
                                    <select required ngModel name="statusId" id="statuss" #statuss="ngModel"
                                        class="form-control">
                                        <option value="">Select Status</option>
                                        <option *ngFor="let web of statuslist" [value]="web.value">{{web.text}}</option>
                                    </select>
                                    <span class="help-block text-danger" *ngIf="statuss.touched && statuss.invalid">
                                        Status is required
                                    </span>
                                </div>
                            </div>
                            <div class="form-group mt-2 mb-0">
                                <button type="button" (click)="Cancel()"
                                    class="mr-1 btn btn-outline-secondary round waves-effect"
                                    style="width:120px">Cancel</button>
                                <button type="submit" [disabled]="!r.valid" class="btn btn-primary round waves-effect"
                                    style="width:150px" id="btnSave">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>