@import '@core/scss/angular/libs/flatpickr.component.scss';

.dark-layout input.form-control,
.dark-layout textarea.form-control {
    background-color: #283046 !important;
    color: #b4b7bd;
}

.form-control {
    background-color: #fff !important;
}

.disable-field {
    display: none !important;

}

.req-red {
    color: red;
    font-weight: bold;
    font-size: 17px;
}

button {
    border: none;
    background-color: #093b85;
    border-radius: 20px;
}

button input.ng2-flatpickr-input.form-control.input::placeholder {
    color: #fff;
}

.second-checkout-date input.ng2-flatpickr-input.form-control.input.active {
    background-color: inherit !important;
    border: none;
    text-align: center;
}

.second-checkout-date input.ng2-flatpickr-input.form-control.input {
    background-color: inherit !important;
    border: none;
    text-align: center;
}

.second-checkout-date input.ng2-flatpickr-input.form-control.input:hover {
    cursor: context-menu;
}

.create-order {
    padding-bottom: 50px;
}


.image-fit img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

.choose-td {
    display: flex;
    align-items: baseline;
    width: 100%;
    padding: 24px 4px !important;
}

canvas {
    display: block;
    border: 1px solid #d8d6de;
    background: #fff;
    border-radius: 10px;
}

button {
    margin: 10px;
    margin-left: 10px;
}

.clear-signature {
    margin-top: 15px !important;
    border-radius: 60px;
}

.clear-checkout {
    margin-left: 10px !important;
    border-radius: 60px;
}

button input.ng2-flatpickr-input.form-control.input {
    color: #fff;
}

.second-checkout-date button input {
    background-color: transparent !important;
    border: none;
    color: #fff !important;
}

td span.req-red {
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    float: left;
    margin-top: 4px;
    position: absolute;
    left: 15px;
    bottom: 0;
}

td {
    position: relative;
}

.disabled-input-return {
    pointer-events: none;

}

button.disabled-input-return {
    pointer-events: none;
    opacity: 0.8;
}

.checkout-center {
    text-align: center;
}

.badge-pink {
    background-color: #CD9A03;
    color: #fff;
}

.badge-blue {
    background-color: #D5A2D5;
    color: #fff;
}

.badge-green {
    background-color: #57555B;
    color: #ffffff;
}

.badge .dropdown-toggle {
    max-width: 100% !important;
    padding: 6px 0;
}

.badge .dropdown-menu {
    visibility: hidden;

}

.badge.badge-success .dropdown-menu {
    visibility: visible;
}

.badge.dropdown .dropdown-toggle::after {
    display: none;
}

.badge.badge-success.dropdown .dropdown-toggle::after {
    display: inline-block;
    position: relative;
    top: 2px;
}

.badge.dropdown .dropdown-toggle {
    cursor: auto !important;
}

.badge.badge-success .dropdown-toggle {
    cursor: pointer !important;
}

.result-table {
    overflow-x: auto;
}