#dropdownMenuButton {
    width: 190px;
    border-radius: 20px;
    margin-right: 15px;
}

.dashboard h6 {
    height: 30px;
}

@media only screen and (max-width: 1300px) {

    h6,
    .h6 {
        font-size: 0.9rem;
    }

}

@media screen and (max-width: 1100px) {

    .dashboard .card {
        flex-basis: inherit;
        width: 40% !important;
        margin-left: 0;
        margin-bottom: 15px;
    }

}

@media screen and (max-width: 600px) {

    .dashboard .card {
        flex-basis: inherit;
        width: 100% !important;
        margin-left: 0 !important;
        margin-bottom: 15px;
        margin-right: 0;
    }

    .card-body {
        overflow-x: auto;
    }

}

.disable-filed {
    display: none !important;
}