<div class="content-wrapper container-xxl p-0">
    <div class="content-body">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-md-12 d-flex align-items-center">
                        <h1 class="content-header-title float-left mb-0">
                            <a routerLink="/asset/histories"><i data-feather="arrow-left"
                                    class="mr-1 font-medium-5"></i></a> Audit detail
                        </h1>
                        <div class="breadcrumb-wrapper d-flex ">
                            <ol class="breadcrumb align-items-center">
                                <li class="breadcrumb-item ng-star-inserted disable-field">
                                    <a routerLink="/asset/history/edit/1" class="text-primary"><i data-feather="edit"
                                            class="mr-50"></i>Edit</a>
                                </li>
                                <li class="breadcrumb-item ng-star-inserted disable-field">
                                    <a href="#" class="text-danger"><i data-feather="trash-2"
                                            class="mr-50"></i>Delete</a>
                                </li>
                                <li class="breadcrumb-item ng-star-inserted">
                                    <a routerLink="/asset/detail/{{barcodeId}}"> <span
                                            class="text-primary font-weight-bolder">{{assetName}}
                                            &nbsp;&nbsp;</span></a><span>|</span>
                                </li>
                                <li class="breadcrumb-item ng-star-inserted">
                                    <a routerLink="/asset/detail/{{barcodeId}}">
                                        <span class="text-primary font-weight-bolder">
                                            <span *ngIf="item_type =='asset'">Asset ID</span>
                                            <span *ngIf="item_type =='inventory'">Inventory ID</span> {{barcodeId}}
                                            &nbsp;&nbsp;</span></a>
                                    <span>|</span>
                                </li>
                                <li class="breadcrumb-item ">
                                    <a routerLink="/asset/detail/{{barcodeId}}">
                                        <span class="text-primary font-weight-bolder">
                                            {{serialNumber}}
                                            &nbsp;&nbsp;</span></a><span>|</span>
                                </li>
                                <li class="breadcrumb-item ">
                                    <a routerLink="/asset/detail/{{barcodeId}}">
                                        <span class="text-primary font-weight-bolder">
                                            {{assetLocation}}
                                            &nbsp;&nbsp;</span></a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <div class="content-header-right col-md-4 col-12 mb-2">
                <div class="row">
                    <div class="col-md-12 text-right">
                        <div class="btns">
                            <div ngbDropdown style="width:200px" class="d-inline-block ml-50 disable-field">
                                <button ngbDropdownToggle class="btn btn-outline-primary" type="button"
                                    id="dropdownMenuButton1" rippleEffect>
                                    Actions<i data-feather="chevron-down" class="ml-2"></i>
                                </button>
                                <div ngbDropdownMenu aria-labelledby="dropdownMenuButton1">
                                    <a ngbDropdownItem href="javascript:void(0)"><i data-feather="printer"
                                            class="mr-50"></i>Print Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="row">
                        <div class="col-md-6 col-xl-3 disable-field">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/user_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Name</span><br>
                                            <span class="font-weight-bold">Kerry Phillip</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/setting_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Asset Name</span><br>
                                            <span class="font-weight-bold">{{model.assetName}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/wall.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Serial Number</span><br>
                                            <span class="font-weight-bold">{{model.serialNumber}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/boxes.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Category</span><br>
                                            <span class="font-weight-bold">{{model.category}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/color.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Color</span><br>
                                            <span class="font-weight-bold">{{model.color}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/weight.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Weight</span><br>
                                            <span class="font-weight-bold">{{model.weight}} {{model.unit}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3 disable-field">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/calendar_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Warranty Expiry Date</span><br>
                                            <span class="font-weight-bold">{{model.warrantyExpiryDate|
                                                date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/calendar_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Next Maintenance Date</span><br>
                                            <span class="font-weight-bold">{{model.nextMaintenanceDate|
                                                date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/calendar_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">End of Life Date</span><br>
                                            <span class="font-weight-bold">{{model.endofLifeDate|
                                                date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/calendar_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Last Inspected by</span><br>
                                            <span class="font-weight-bold">{{model.lastInspectedBy|
                                                date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/user_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Inspected by</span><br>
                                            <span class="font-weight-bold">{{model.inspectedBy}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/user_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Updated by</span><br>
                                            <span class="font-weight-bold">{{model.updatedBy| date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-xl-3">
                            <div class="card bg-secondary  bg-lighten-5">
                                <div class="card-body">
                                    <div class="d-flex align-items-center">
                                        <div class="avatar mr-1 bg-light-white p-50 m-0 ml-2 ">
                                            <div class="avatar-content">
                                                <img src="assets/images/icon/calendar_icon.png" height="20"
                                                    class="border-radius-0" alt="">
                                            </div>
                                        </div>
                                        <div class="cell-line-height">
                                            <span class="text-muted font-small-2">Date Updated</span><br>
                                            <span class="font-weight-bold">{{model.dateUpdated|
                                                date:'dd-MM-yyyy'}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>