.req-red{
    color: red;
    font-weight: bold;
    font-size: 17px;
}

.card-body.text-center.upload-img {
    padding: 10px 10px !important;
    border: 1px #000 solid;
    border-radius: 5px;
}
.assetpic {
    border-radius: 15px;
    width: 100%;
    padding: 5px;
    min-height: 100px;
}
.custom-valid{
    font-size: 12px!important;
}